@import url("./main.css");

main {
  padding: 20px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e62429;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 18px;
  margin-left: 5px;
  transition: all 0.2s;
}

.cta-button:hover {
  background-color: #fff;
  color: #202020;
  transition: all 0.2s;
}

figcaption {
  font-size: 1.2em;
}

.gallery-section {
  margin-top: 40px;
  text-align: center;
}

.gallery-exterior {
  overflow-y: hidden;
  overflow-x: scroll;
}

.image-gallery {
  width: 150%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 10px;
}

.image-gallery img {
  max-width: 75%;
  box-shadow: #202020 3px 3px 3px; 
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.gallery-section .image-gallery #last img {
  box-shadow: none;
}

#last:hover {
  opacity: 0.46;
  transition: all 0.2s;
}

.info-section {
  margin-top: 40px;
  text-align: center;
  width: 80%;
  margin: 20px auto;
}

.info-section p {
  text-align: justify;
  font-size: 25px;
  margin-bottom: 10px;
}

.videogame-section {
  margin-top: 40px;
  text-align: center;
}

.videogame-section .image-gallery {
  align-items: center;
}

.videogame-section .image-gallery #last img {
  box-shadow: none;
}

.videogame-section figure img {
  width: 250px;
}

.comic-section {
  margin-top: 40px;
  text-align: center;
}

.comic-section .image-gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px; 
  justify-items: stretch;
  align-items: stretch;
}

.comic-section .image-gallery img {
  width: 150px;
}

.comic-section .image-gallery #last img {
  width: 300px;
  box-shadow: none;
}

@media screen and (max-width: 426px)  {
  .image-gallery {
    flex-direction: column;
    width: 100%;
  }

  .comic-section .image-gallery {
    grid-template-columns: 1fr 1fr;
  }
}